 <div class="custom_content clearfix">
  <div class="container">

    <div class="photo_gallery custom">
      <ul class="gallery popup-gallery">
        <li>
          <%= link_to asset_path("1.jpg"), title: "Photo 1" do  %>
            <%= image_tag "1.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("2.jpg"), title: "Photo 2" do  %>
            <%= image_tag "2.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("3.jpg"), title: "Photo 3" do  %>
            <%= image_tag "3.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("4.jpg"), title: "Photo 4" do  %>
            <%= image_tag "4.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("1.jpg"), title: "Photo 5" do  %>
            <%= image_tag "1.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("1.jpg"), title: "Photo 6" do  %>
            <%= image_tag "1.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("3.jpg"), title: "Photo 7" do  %>
            <%= image_tag "3.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("4.jpg"), title: "Photo 8" do  %>
            <%= image_tag "4.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("1.jpg"), title: "Photo 9" do  %>
            <%= image_tag "1.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("1.jpg"), title: "Photo 10" do  %>
            <%= image_tag "1.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
           <% end %>
        </li>
        <li>
          <%= link_to asset_path("3.jpg"), title: "Photo 11" do  %>
            <%= image_tag "3.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to asset_path("4.jpg"), title: "Photo 12" do  %>
            <%= image_tag "4.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>
